/LabMid/Sports/nbproject/private/
/LabMid/Sports/build/
/LabMid/Sports/dist/
/FA23 Midterm/LabMid/Sports/build/
/FA23 Midterm/LabMid/Sports/dist/
/FA23 Midterm/LabMid/Sports/nbproject/private/
/FA23 Midterm/Code/Sports/build/
/FA23 Midterm/Code/Sports/dist/
/FA23 Midterm/Code/Sports/nbproject/private/
/Code/Sports/build/
/Code/Sports/dist/
/Code/Sports/nbproject/private/
/Gang of Four/Structural Patterns/Proxy/Example/nbproject/private/
/Gang of Four/Structural Patterns/Proxy/Example/build/
/Gang of Four/Structural Patterns/Proxy/Example/dist/