/LabMid/Sports/nbproject/private/
/LabMid/Sports/build/
/LabMid/Sports/dist/
/FA23 Midterm/LabMid/Sports/build/
/FA23 Midterm/LabMid/Sports/dist/
/FA23 Midterm/LabMid/Sports/nbproject/private/
/FA23 Midterm/Code/Sports/build/
/FA23 Midterm/Code/Sports/dist/
/FA23 Midterm/Code/Sports/nbproject/private/
/Code/Sports/build/
/Code/Sports/dist/
/Code/Sports/nbproject/private/
/Gang of Four/Structural Patterns/Proxy/Example/nbproject/private/
/Gang of Four/Structural Patterns/Proxy/Example/build/
/Gang of Four/Structural Patterns/Proxy/Example/dist/
/Gang of Four/Structural Patterns/Facade/Example/nbproject/private/
/Gang of Four/Structural Patterns/Facade/Example/build/
/Gang of Four/Structural Patterns/Facade/Lab Task/nbproject/private/
/Gang of Four/Structural Patterns/Facade/Lab Task/build/
/Gang of Four/Structural Patterns/Facade/Lab Task/dist/
/Gang of Four/Structural Patterns/Facade/Example/dist/
/Gang of Four/Structural Patterns/State/Refacturing-Guru Example/nbproject/private/
/Gang of Four/Structural Patterns/State/Refacturing-Guru Example/build/
/Gang of Four/Structural Patterns/State/Refacturing-Guru Example/dist/
/Gang of Four/Structural Patterns/Interpreter/Example/nbproject/private/
/Gang of Four/Structural Patterns/Interpreter/Example/build/
/Gang of Four/Structural Patterns/Interpreter/Example/dist/
/Gang of Four/Behavioral Patterns/Interpreter/LabTask/nbproject/private/
/Gang of Four/Behavioral Patterns/Interpreter/LabTask/build/
/Gang of Four/Behavioral Patterns/Interpreter/LabTask/dist/
/Gang of Four/Behavioral Patterns/Interpreter/State/Refacturing-Guru Example/nbproject/private/
/Gang of Four/Behavioral Patterns/Memento/Example/nbproject/private/
/Gang of Four/Behavioral Patterns/Memento/Example/build/
/R-W Lock Pattern PPT & Video/Example-Code/Code/nbproject/private/
/R-W Lock Pattern PPT & Video/Example-Code/Code/build/
/R-W Lock Pattern PPT & Video/Example-Code/Code/dist/
/FA23 Final Lab/Testing System/nbproject/private/
/FA23 Final Lab/Testing System/build/
/FA23 Final Lab/Testing System/dist/
